bandeau {
    
    background-color: #076bec;
           
    color: #180404;
        padding: 10px 0;
        position:absolute;
        top:0%;
        left:0%;
        height:20%; 
        width:100%;
        text-align: center;
         

    }

jaune{
    
    background-color: #ecdd07;
           
    color: #180404;
        padding: 10px 0;
        position:absolute;
        top:20%;
        left:10%;
        height:77%; 
        width:90%;
        text-align: justify;

}

vert{

    background-color: #07ec2d;
           
    color: #180404;
        padding: 10px 0;
        position:absolute;
        bottom: 0%;
        left:0%;
        height:25%; 
        width:100%;
        text-align: center;
        
}

Menu1{
    background-color: #e40e8b;
           
    color: #180404;
    
        position:absolute;
        bottom: 0%;
        left:0%;
        height:80%; 
        width:10%;
        text-align: center;
      
}
Menu2{
    background-color: #b90ee4;
           
    color: #180404;
    
        position:absolute;
        bottom: 0%;
        left:0%;
        height:50%; 
        width:10%;
        text-align: center;
}

blocnews{
    background-color: #ee061a;
           
    color: #180404;
    
        position:absolute;
        margin-left: 15px;
        top:20%;
        left:90%;
        height:20%; 
        width:10%;
        text-align: center;






}