bandeau {
    
    background-color: #076bec;
           
    color: #180404;
        padding: 10px 0;
        position:absolute;
        top:0%;
        left:0%;
        height:20%; 
        width:100%;
        text-align: center;
         

    }

jaune{
    
    background-color: #ecdd07;
           
    color: #180404;
        padding: 10px 0;
        position:absolute;
        top:20%;
        left:0%;
        height:95%; 
        width:100%;
        text-align: center;

}

vert{

    background-color: #07ec2d;
           
    color: #180404;
        padding: 10px 0;
        position:absolute;
        bottom: 0%;
        left:0%;
        height:15%; 
        width:100%;
        text-align: center;

}

Menu1 {
    background-color: #e40e8b;
           
    color: #180404;
    
        position:absolute;
        bottom: 0%;
        left:0%;
        height:100%; 
        width:10%;
        text-align: center;
        

}